

.CartItemCard{
    display: flex;
    padding: 1vmax;
    height: fit-content;
    align-items: flex-start;
    box-sizing: border-box;
}

.CartItemCard > img{
    width: 5vmax;
}

.CartItemCard > div{
    display: flex;
    margin: 0.3vmax 1vmax;
    flex-direction: column;
}

.CartItemCard > div > a {
    text-decoration: none;
    font: 300 1.1vmax cursive;
    color: rgba(24, 24, 24, 0.815);
}

.CartItemCard > div > span{
    color: rgb(0, 0, 0);
    font: 400 1vmax "Roboto";
}

.CartItemCard > div > p{
    color: rgb(30, 45, 177);
    font: 300 0.97vmax "Roboto";
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .CartItemCard {
        padding: 1.5vmax;
        height: 25vmax;
    }
    .CartItemCard > img {
        width: 8vmax;
    }

    .CartItemCard > div {
        margin: 1vmax 1.5vmax;
    }

    .CartItemCard > div > a{
        font: 300 1.8vmax cursive;
    }
    .CartItemCard > div > span{
        font: 300 1.8vmax "Roboto";
    }
    .CartItemCard > div > p{
        font: 100 1.7vmax "Roboto";
    }
}