.stepperBox{
    padding: 2vmax;
    background-color: #fff;
    position: relative;
    top: 65px;
}

.shippingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vmax;
    /* background-color: #f2f2f2; */
    position: relative;
    top: 5vmax;
}

.shippingBox {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    width: 350px;
}

.shippingHeading {
    background-color: #2196f3;
    width: fit-content;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    padding: 8px 20px;
    margin: 0 auto;
}

.shippingForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.shippingForm input[type="text"],
.shippingForm input[type="number"],
.shippingForm select {
    border: none;
    border-radius: 3px;
    margin: 7px 0;
    padding: 6px;
    width: 100%;
    font-size: 14px;
    background-color: #f2f2f2;
}

.shippingForm input[type="submit"] {
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

.shippingForm input[type="submit"]:hover {
    background-color: #0d8bf0;
}

.shippingForm input:focus,
.shippingForm select:focus {
    outline: none;
    box-shadow: 0px 0px 3px #2196f3;
}

@media screen and (max-width: 600px) {

    .stepperBox{
        padding-top: 7vmax;
        padding-bottom: 6vmax;
        top: 7vmax;
    }

    .shippingForm input[type="text"],
    .shippingForm input[type="number"],
    .shippingForm select {
        margin: 10px 0;
        padding: 17px;
        font-size: 18px;
    }

    .shippingContainer {
        position: relative;
        top: 5vmax;
    }
    .shippingForm input[type="submit"]:hover {
        font-size: 25px;
    }
}