.profileContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 5vmax;
    justify-content: space-around;
}

.profileContainer > div {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileContainer > div:first-child > h1{
    color: rgba(0, 0, 0, 0.555);
    font: 500 2.2vmax "Roboto";
    transform: translateX(-10vmax) translateY(-2vmax);
    margin-left: 20vmax;
}

.profileContainer > div:first-child > img {
    width: 15vmax;
    height: 15vmax;

    border-radius: 100%;
    transition: all 0.5s;
}

.profileContainer > div:first-child > img:hover{
    transform: scale(1.05);
}

.profileContainer > div:first-child > a {
    border: none;
    background-color: #243dca;
    font: 400 1vmax "Roboto";
    color: #fff;
    text-decoration: none;
    padding: 0.5vmax;
    width: 30%;
    margin: 4vmax 0;
    text-align: center;
    transition: all 0.5s;
}

.profileContainer > div:first-child > a:hover{
    background-color: #7f8bd1;
    cursor: pointer;
}

.profileContainer > div:last-child{
    justify-content: space-evenly;
    align-items: self-start;
}

.profileContainer > div:first-child{
    color: #000;
    font: 400 1.2vmax "Roboto";
    margin: 0;
}


.profileContainer > div:last-child > div > p{
    color: #383636;
    font: 400 1vmax cursive;
}

.profileContainer > div:last-child > div:last-child {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.profileContainer > div:last-child > div:last-child > a{
    border: none;
    background-color: rgb(68, 68, 68);
    font: 400 1vmax "Roboto";
    color: #fff;
    margin: 0.5vmax 0;
    text-decoration: none;
    padding: 0.5vmax;
    text-align: center;
    transition: all 0.5s;
}

.profileContainer > div:last-child > div:last-child > a:hover{
    background-color: #7f8bd1;
}


@media screen and (max-width: 600px) {
    .profileContainer {
        flex-direction: column;
    }
    .profileContainer > div:first-child > h1 {
        font: 500 3.2vmax "Roboto";
        transform: translateY((-2vmax));
    }
    .profileContainer > div:last-child{
        /* width: 70vw;
        margin-left: 30vw; */
        align-items: center;
    }
    .profileContainer > div:first-child{
        font: 500 1.7vmax "Roboto";
    }

    .profileContainer > div:last-child > div > h4{
        width: 60vw;
    }
    
    
    .profileContainer > div:last-child > div > p{
        font: 600 2vmax cursive;
    }

    .profileContainer > div:last-child > div:last-child > a{
        font: 600 1.8vmax "Roboto";
        margin: 0.5vmax 0;
        padding: 1vmax;
    }

    .profileContainer > div:first-child > a {
        font: 500 1.4vmax "Roboto";
        padding: 0.8vmax;
    }
}
