.productsSection{
    position: absolute;
    top: 3rem;
    /* height: 100vh; */
}



.productsHeading{
    margin: 2vmax auto;
    width: 15vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2vmax;
    color: rgba(0, 0, 0, 0.7);
    font: 500 1.5vmax "Roboto";
    text-align: center;
}

.products{
    width: 90vmax;
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: center;
    margin-left: 10vmax;
}

.paginationBox{
    display: flex;
    justify-content: center;
    margin: 6vmax;
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item{
    background-color: rgb(255, 255, 255);
    border: 1px solid #0a15a1;
    padding: 1vmax 1.5vmax;
    border-collapse: collapse;
    transition: all 0.3s;
    cursor: pointer;
}

.page-item:first-child{
    border-radius: 5px 0 0 5px;
}

.page-item:last-child{
    border-radius: 0 5px 5px 0;
}

.page-link{
    text-decoration: none;
    font: 300 1vmax "Roboto";
    color: rgb(80, 80, 80);
    transition: all 0.3s;
}

.page-item:hover{
    background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
    color: rgb(80, 80, 80);
}

.pageItemActive{
    background-image: linear-gradient(to left, #57B1FF, #2b37d6);
}

.pageLinkActive{
    color: #fff;
}

/*  filters */

.parentFilterBox {
    width: 12vmax;
    display: flex;
    margin: 2vmax;
}

.filterBox{
    width: 10vmax;
    position: absolute;
    top: 10vmax;
    left: 1.5vmax;
}

.category-link{
    color: rgba(0, 0, 0, 0.61);
    font: 400 1vmax "Roboto";
    margin: 0.4vmax;
    cursor: pointer;
    transition: all 0.5s;
}

.category-link:hover{
    color: #0a15a1;
}

.filterBox > fieldset {
    border: 1px solid #383e9291;
}


@media screen and (max-width: 600px) {

    .products{
        width: 100vw;
        margin: 0;
    }


    .filterBox {
        width: 20vmax;
        position: static;
        margin: auto;
    }

    .page-link{
        font: 300 1.7vmax "Roboto";
    }

    .category-link {
        font: 400 1.8vmax "Roboto";
    }

}

