.reviewCard {
    flex: none;
    box-shadow: 0.5vmax 0.5vmax 1vmax 0.2vmax rgba(0, 0, 0, 0.205) ;
    border: 1px solid rgba(56, 56, 56, 0.116);
    width: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 3vmax;
}

.reviewCard > img{
    width: 5vmax;
}

.reviewCard > p{
    color: rgba(0, 0, 0, 0.836);
    font: 600 0.9vmax "Roboto";
}

.reviewCardComment{
    color: rgba(0, 0, 0, 0.6);
    font: 600 0.9vmax cursive;
}