.searchBox {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 60px;
    left: 0;
  }
  
  .searchBox > input[type="text"] {
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.274);
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax 2vmax;
    width: 20%;
    outline: none;
    border-radius: 5px 0 0 5px;
    font: 300 1.1vmax cursive;
    box-sizing: border-box;
    height: 5%;
    margin-top: 3%;
  }
  
  .searchBox > input[type="submit"] {
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.274);
    height: 5%;
    border-radius: 0 5px 5px 0;
    background-color: #64cfbf;
    border: none;
    padding: 1vmax;
    width: 5%;
    font: 300 1.1vmax "Roboto";
    cursor: pointer;
    color: rgb(59, 50, 50);
    transition: all 0.5s;
    margin-top: 3%;
    align-content: center;
    align-items: center;
    padding-top: 0.5vmax;
  }
  
  .searchBox > input[type="submit"]:hover {
    background-color: rgb(55, 97, 214);
  }
  
  @media screen and (max-width: 600px) {
    .searchBox > input[type="text"] {
      width: 100%;
      font: 300 4vw cursive;
      height: 6%;
    }
  
    .searchBox > input[type="submit"] {
      height: 6%;
      width: 20%;
      font: 300 4vw "Roboto";
    }
  }
  