.speedDail{
    position: fixed;
    right: 0.3vmax;
    top: 0.15vmax;
    z-index: 10;
    background-color: transparent;
}

.speedDialIcon{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

@media screen and (max-width: 600px) {
    .speedDialIcon{
        width: 100%;
        height: 100%;
    }
    .speedDail{
        right: 0.4vmax;
        top: 0.4vmax;
    }
}